#services {

    color: #fff;
    padding: 100px 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}

#services:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.3) 0%, rgba(255, 0, 204, 0) 70%);
    animation: glowing 3s linear infinite;
}

#services h2 {
    font-size: 48px;
    margin-bottom: 40px;
    color: #ffc107;
}

.services-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.service {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #ff6600;
    box-shadow: 0 0 20px rgba(166, 255, 0, 0.1);
    border-radius: 50%;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, border-color 1s linear, opacity 0.5s ease-in-out;
    border: 5px solid transparent;
    overflow: hidden;
}

.scroll-line-container {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100vh;
    z-index: 1000;
    pointer-events: none;
}

.service:hover {
    transform: scale(1.1);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.3);
}

.service video {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.service:hover video {
    transform: scale(1.1);
}

.service .text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    opacity: 0;
    /* Initially set to 0 */
    transition: opacity 0.5s ease-in-out;
    /* Include opacity in the transition */
}

.service:hover .text-container {
    opacity: 1;
    /* Set to 1 on hover */
}

.service h3 {
    font-size: 24px;
    color: #2C1E4A;
    margin-bottom: 10px;
}

.service p {
    font-size: 16px;
    color: #ffffff;
}

.service:hover {
    border-color: #ffc107;
}

/* Style for fade-in animation */
.fade-in {
    opacity: 1;
}

/* Animation effect when scrolling */
@keyframes glowing {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

/* Fade out on scroll effect */
.service:not(:hover) {
    opacity: 1;
}

/* Style for scroll line */
.scroll-line {
    position: absolute;
    background-color: #fff;
    width: 2px;
    z-index: 1000;
}

/* Additional style for service details on hover */
.service-hover-details {
    position: fixed;
    top: 0;
    left: 0;

    color: #fff;
    padding: 20px;
    border-radius: 5px;
    z-index: 10000;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

/* Fade in effect for service details */
.service-hover-details.fade-in {
    opacity: 1;
}
#serve {
    position: relative;
    background-color: #f2f2f2;
    padding: 50px 0;
    text-align: center;
    overflow: hidden;
}

#serve::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* Dark black shadow color with 50% opacity */
    z-index: -1;
    /* Place the shadow behind the content */
}

.serve-container {
    display: flex;
    flex-wrap: wrap;
    border: #f2f2f2;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.serve {
    position: relative;
    width: calc(33.33% - 20px);
    /* Adjust width based on the number of serve per row */
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid #ffffff; /* Add white border */
    text-align: left;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.serve i {
    font-size: 2em;
    margin-bottom: 10px;
    color: #3498db;
    /* Icon color */
}

.serve h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #ffc400;
    /* Heading color */
}

.serve p {
    font-size: 1em;
    color: #ffffff;
    /* Description color */
}

/* Add hover effect */
.serve:hover {
    transform: translateY(-10px) scale(1.05);
    /* Adjust the lifting distance and scale factor */
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
    /* Add a subtle shadow with increased opacity */
}

/* Additional hover animations */
.serve:hover i {
    transform: rotate(360deg);
    /* Rotate the icon 360 degrees on hover */
}

/* Media query for smaller screens */
@media (max-width: 767px) {
    .serve {
        width: calc(50% - 20px);
        /* Adjust width for smaller screens */
    }
}


/* Additional styling for the whole website */
body {
    font-family: 'Arial', sans-serif;
    /* Updated font family */
    background-color: #1A1A1D;
    /* Updated background color for the body */
    color: #fff;
    margin: 0;
    font-size: 20px;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
}

header {
    background-color: #ffc107;
    /* Updated background color for the header */
    color: #fff;
    padding: 10px;
}

header .logo a {
    color: #fff;
    font-size: 132px;
    /* Increased font size for the logo */
    font-weight: bold;
    text-decoration: none;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links a:hover {
    border-bottom: 2px solid #ff0000;
    /* Add underline on hover */
}

nav .nav-links {
    display: flex;
    gap: 20px;
    /* Increased gap between navigation links */
}

nav .nav-links li {
    list-style: none;
}

nav .nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    /* Increased font size for navigation links */
    transition: color 0.3s ease-in-out;
}

nav .nav-links a:hover {
    color: #ff0101;
    /* Yellow color on hover */
}

section {
    text-align: left;
    padding: 30px;
    position: relative;
}

section h2 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #ffc107;
    /* Yellow color for header */
}


.hero p {
    font-size: 40px;
    color: #fff;
    margin-bottom: 0px;
    text-align: center;
    /* Center-align the text */
    font-weight: bold;
    /* Make the text bold */
    transform: scale(1);
    /* Initial scale for popping effect */
    animation: typewriter 2s steps(30) 1s 1 normal both, popOut 2s infinite alternate;
}

@keyframes popOut {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}


@keyframes glowing {
    0% {
        transform: scale(1);
        opacity: 0.5;
    }

    25% {
        transform: scale(1);
        opacity: 0.5;
    }

    50% {
        transform: scale(1);
        opacity: 0.5;
    }

    75% {
        transform: scale(1);
        opacity: 0.5;
    }

    100% {
        transform: scale(1);
        opacity: 0.5;
    }
}

#potential-clients {
    text-align: center;
}

#potential-clients h2 {
    margin-bottom: 20px;
    font-size: 38px;
    /* Adjust the font size as needed */
    font-weight: bold;
}

#potential-clients .my-paragraph {
    font-size: 16px;
    line-height: 1.6;
    /* Adjust the line height for better readability */
    color: #9c9696;
    /* Optional: Set a color that suits your design */
    max-width: 800px;
    /* Optional: Limit the maximum width for better readability on larger screens */
    margin: 0 auto;
    /* Optional: Center the paragraph within the available width */
}

#statistics {

    color: #fff;
    padding: 60px 0;
    text-align: center;
}

.statistics-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.statistic {
    text-align: center;
}

.statistics h3 {
    font-size: 255px;
    color: #ffffff;
    margin-bottom: 10px;
    animation: count-up 2s ease-out;
}

@keyframes count-up {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#projectsCount,
#clientsCount {
    font-size: 56px;
    font-weight: bold;
    color: #ffc400;
    margin: 10px;
}

#happyClients {
    color: #fff;
    padding: 60px 0;
    text-align: center;
}

#happyClients h2 {
    color: #fafa16f3;
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 50px;
}

.client-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 190px;
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.client-container {
    animation: scroll 30s linear infinite;
    /* Adjust the duration for the scrolling effect */
}

.client-box {
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(255, 23, 23, 0.335);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
    opacity: 0;
    position: relative;
}

.client-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px rgb(255, 255, 255);
}

.client-logo {
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto 5px;
    /* Adjust the bottom margin to reduce space */
}

.client-link {
    text-decoration: none;
    color: #ff6600;
    font-size: 24px;
    font-weight: bold;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.team h2 {
    margin-top: 0px;
}


#team {

    font-size: 30px;
    text-align: center;
    opacity: 0;
    /* Initially set to 0 */
    transition: opacity 1s ease-in-out;
    /* Include opacity in the transition */
}

#team.visible {
    opacity: 1;
    /* Set to 1 when the section is visible */
}

#team .my-paragraph {
    font-size: 20px;
    line-height: 1.6;
    color: #9c9696;
    max-width: 800px;
    margin: 0 auto;
}

#tools-section {

    color: #ffc400;
    text-align: center;
    font-size: 30 px;
    padding: 20px;
}

.tool-image {

    width: 1000px;
    /* Adjust the width as needed */
    height: 550px;
    /* Adjust the height as needed */
}

#tools-section .my-paragraph {
    font-size: 20px;
    line-height: 1.6;
    color: #f8f8f8;
    max-width: 800px;
    margin: 0 auto;
}

#popo h2 {
    margin-bottom: 1 px;
    color: #ffc400;
    text-align: center;
    font-size: 30 px;
    padding: 20px;
}


/* Styles for video container on the right */
.video-container {
    float: right;
}

/* Styles for video container-9x16 on the left */
.video-container-9x16 {
    float: left;
}

/* Container for all video containers */
.video-container-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* Adjust styling based on your preference */
    border: 1px solid #1A1A1D;
    /* Add red border */
    padding: 10px;
    /* Add padding for better visibility */
}


.video-container {
    position: relative;
    width: 45vw;
    /* Adjust the width based on your preference */
    height: 25.31vw;
    /* Maintain the 16:9 aspect ratio for each video */
    margin: 20px;
    overflow: hidden;
    border-radius: 10px;

    transition: background-color 0.3s ease-in-out;
    /* Add transition */
}

.video-container.playing {
    background-color: #1A1A1D
        /* Change background color when playing */
}

.video-container-9x16 {
    width: 22.5vw;
    /* Adjust the width based on your preference */
    height: 40vw;
    /* Maintain the 9:16 aspect ratio for each video */
}

.video-container-9x16 {
    width: 22.5vw;
    /* Adjust the width based on your preference */
    height: 40vw;
    /* Maintain the 9:16 aspect ratio for each video */
}

.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.video-container:hover .overlay {
    opacity: 1;
}

.overlay-text {
    text-align: center;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

p {
    font-size: 1em;
    margin: 0;
}

#popa h2 {
    color: #ffc400;
    text-align: center;
    font-size: 30 px;

    padding: 20px;
    font-family: 'Roboto, Arial, sans-serif';
}

.post-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Set the maximum width for the container */
    margin: 0 auto;
    /* Center the container on the page */
    overflow: hidden;
    /* Ensure content doesn't overflow */
    box-shadow: 0 0 15px rgba(0, 255, 0, 0.5);
    /* Green box shadow */
}

.poster img {
    width: 1000px;
    /* Adjust the width as needed */
    height: 550px;
    /* Adjust the height as needed */
}


.poster h2 {
    color: #333;
    margin-bottom: 5px;
}

.poster p {
    color: #666;
}

#contact-section {
    text-align: center;
}

.contact-icon {
    margin: 10px;
    font-size: 24px;
    color: #333;
}

#plo h2 {
    color: #ffc400;
    text-align: center;
    font-size: 30 px;
    padding: 20px;
    font-family: 'Roboto, Arial, sans-serif';
}


#copa {
    position: relative;
}

#logo {
    position: absolute;
    top: 0;

    left: 0;
}

#copa p {
    text-align: center;
    font-size: 3 px;
    white-space: nowrap;
    overflow: hidden;
    animation: typewriter 2s steps(40) infinite;
    margin-bottom: 8px;

}

.social-icons {
    display: flex;
    justify-content: left;
    align-items: left;
}

.social-icon {
    margin: 0 20px;
    cursor: pointer;
    text-align: left;
}

.gm-icon img {
    margin: 0 20px;
    cursor: pointer;
    text-align: left;
    margin-left: 40px;
    width: 50px;
    /* Adjust the size as needed */
    height: 50px;
    /* Adjust the size as needed */
    margin-bottom: 30px;
    transition: transform 0.3s ease-out;
}

.in-icon img {
    margin: 0 20px;
    cursor: pointer;
    text-align: left;
    width: 50px;
    /* Adjust the size as needed */
    height: 50px;
    /* Adjust the size as needed */
    margin-bottom: 30px;
    transition: transform 0.3s ease-out;

}

.link-icon img {
    margin: 0 20px;
    cursor: pointer;
    text-align: left;
    width: 50px;
    /* Adjust the size as needed */
    height: 50px;
    /* Adjust the size as needed */
    margin-bottom: 30px;
    transition: transform 0.5s ease-out;
}

/* Add hover effect */
.social-icon:hover,
.gm-icon img:hover,
.in-icon img:hover,
.link-icon img:hover {
    transform: scale(1.5);
}

.footer {

    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: none;
    /* Initially hide the footer */
}

.footer p {
    margin: 0;
}

.killer-line {
    font-size: 1.2em;
    margin-top: 10px;
}

.show-footer {
    display: block !important;
    /* Override the initial 'display: none;' */
}

.line {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    margin-left: 10px;
    /* Adjust the spacing between logo and line */
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: #fff;
}

.connect-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.additional-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    margin-bottom: 20px;
}

.cnoct-text {
    font-size: 20px;
    font-family: 'Roboto, Arial, sans-serif';
    color: #ffc107;
}

.connect-text {
    font-size: 50px;
    font-family: 'Roboto, Arial, sans-serif';
    font-weight: bold;
}

.additional-text p {
    font-size: 25px;
}

.tion {
    margin-left: 10px;
    text-align: left;
}

#ona video {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    /* Centers the video horizontally */
    autoplay: true;
    loop: true;
}

foter {
    text-align: center;
    background-color: #333;
    padding: 20px;
}

.foter-nv a {
    text-decoration: none;
    display: block; /* Ensure each link is a block element for vertical alignment */
    color: #fff;
    margin: 10px 0;
    margin: 20px 170px 10px 0; /* Added left margin */
    font-size: 18px;
    position: relative;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

.foter-nv a:hover {
    color: #ff6600;
    border-bottom: 2px solid #ff6600;
}


#atam {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Optional: Set a specific height for the section if needed */
}

.imn {
    max-width: 100%; /* Ensure the image doesn't exceed its natural size */
    height: auto; /* Maintain the image's aspect ratio */
}

foteer {
    text-align: center;
    background-color: #333;
    padding: 20px;
}

.foteer-naav a {
    text-decoration: none;
    display: block; /* Ensure each link is a block element for vertical alignment */
    color: #fff;
    margin: 10px 0;
    margin: 20px 150px 10px 0; /* Added left margin */
    font-size: 18px;
    position: relative;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

.foteer-naav a:hover {
    color: #ff6600;
    border-bottom: 2px solid #ff6600;
}
